/* Estilo para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado principal */
h1 {
    text-align: center;
    background-color: #ff6633; /* Naranja */
    color: white;
    padding: 20px;
    margin: 0;
}

/* Estilo para los encabezados secundarios */
h2 {
    color: #ff6633; /* Naranja */
    margin-top: 20px;
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para el menú principal */
.menu {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu p {
    font-size: 18px;
    margin: 10px 0;
}

/* Estilo para el formulario */
form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las etiquetas del formulario */
label {
    font-weight: bold;
}

/* Estilo para los campos de entrada del formulario */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón del formulario */
button[type="button"] {
    background-color: #ff6633; /* Naranja */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para la lista de pedidos */
#listado-ordenes {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los elementos de la lista de pedidos */
.listado-ordenes {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para los botones de eliminar en la lista de pedidos */
.listado-ordenes button {
    background-color: #ff3333; /* Rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

/* Estilo para la sección de listados */
.listados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo para las secciones de listados individuales */
.listado {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

/* Estilo para los encabezados de listados individuales */
.listado h2 {
    background-color: #ff6633; /* Naranja */
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

/* Estilo de respuesta para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .listado {
        flex-basis: calc(50% - 20px);
    }
}

